In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Volcanoes.txt")

In [6]:
df

,VOLCANX020,NUMBER,NAME,LOCATION,STATUS,ELEV,TYPE,TIMEFRAME,LAT,LON
0,509.0,1201-01=,Baker,US-Washington,Historical,3285.0,Stratovolcanoes,D3,48.776798,-121.810997
1,511.0,1201-02-,Glacier Peak,US-Washington,Tephrochronology,3213.0,Stratovolcano,D4,48.111801,-121.111000
2,513.0,1201-03-,Rainier,US-Washington,Dendrochronology,4392.0,Stratovolcano,D3,46.869801,-121.751000
3,515.0,1201-05-,St. Helens,US-Washington,Historical,2549.0,Stratovolcano,D1,46.199799,-122.181000
4,516.0,1201-04-,Adams,US-Washington,Tephrochronology,3742.0,Stratovolcano,D6,46.205799,-121.490997
...,...,...,...,...,...,...,...,...,...,...
57,580.0,1210-03-,Valles Caldera,US-New Mexico,Pleistocene-Fumarolic,3430.0,Caldera,Q,35.869999,-106.570999
58,581.0,1209-02-,Sunset Crater,US-Arizona,Dendrochronology,2447.0,Cinder cone,D6,35.369999,-111.501000
59,584.0,1203-20-,Amboy,US-California,Holocene,288.0,Cinder cone,U,34.549999,-115.780998
60,586.0,1210-02-,Zuni-Bandera,US-New Mexico,Anthropology,2550.0,Volcanic field,D7,34.799999,-108.001000
61,588.0,1210-01-,Carrizozo,US-New Mexico,Holocene,1731.0,Cinder cone,U,33.780102,-105.931000

In [24]:
def name_change(df):
    lat=list(df["LAT"])
    print("%s, %s" %(df["NAME"][0],df["NAME"][1]))
    print(lat[0])

In [25]:
name_change(df)

Baker, Glacier Peak
48.7767982

In [29]:
len(df.index)

62

In [30]:
range(62)

range(0, 62)

In [31]:
print(range(62))

range(0, 62)

In [32]:
for i in range(62):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61

In [44]:
coordinates=[]
for a,b in zip([1,2,3],[4,5,6]):
    coordinates.append([a,b])
print(coordinates)

[[1, 4], [2, 5], [3, 6]]